$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1530px
) !default;

$modal-xl:                          1490px !default;


// Include Bootstrap and BootstrapVue SCSS files
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';
