* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;

  overflow-x: hidden;
}

.sticky {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 9px 3px rgba(41, 41, 41, .25);
  -moz-box-shadow: 0px 0px 9px 3px rgba(41, 41, 41, .25);
  box-shadow: 0px 0px 9px 3px rgba(41, 41, 41, .25);
  position: fixed;
  top: 0;
  width: 100%;
  transition: all 1000ms linear;
  -webkit-transition: all 1000ms linear;
  -moz-transition: all 1000ms linear;
  -ms-transition: all 1000ms linear;
  -o-transition: all 1000ms linear;
}

.sticky+.content {
  padding-top: 100vh;
}



@media screen and (min-width: 992px) {
  .container {

    max-width: 960px;
  }
}


@media screen and (min-width: 788px) {
  .container {
    max-width: 720px;
  }
}

@media screen and (min-width: 576px) {
  .container {

    max-width: 540px;
  }
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;

  max-width: 1530px;
}

.offset::before {
  content: "";
  display: block;
  height: 250px;

  margin: -250px 0 0;
}

.offset-2::before {
  content: "";
  display: block;
  height: 150px;

  margin: -150px 0 0;
}

main {
  position: relative;
}

#bg {
  position: fixed;
  top: 1%;
  left: 0%;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/dynamic-bg.svg);
  background-repeat: no-repeat;
  background-size: 141vw;
  background-position: 20px, 20px;
  z-index: -1;
}

.services {
  margin-bottom: 250px;
}


.services h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;

  color: #DC6D48;

  margin-bottom: 50px;
}

.services_blocks ul {
  display: flex;
  text-align: center;
}

.services_blocks ul li {
  list-style: none;
  margin: auto;
}

.services_blocks ul li h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  text-align: center;

  color: #666666;

  margin-bottom: 30px;
}

.services_blocks ul li img {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.works {
  /* width: 100%; */
  margin-bottom: 40px;
}

.works h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;

  color: #DC6D48;

  margin-bottom: 50px;
}

.works .categories {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  grid-gap: 5px;
}


.works .categories .category {

  /* width: 210px;height: 100px;

*/
  max-width: 210px;
  min-width: 210px;
  width: 100%;
  height: 100px;

  background-position: center;
  background-size: cover;


  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;

  align-items: center;
  margin-left: auto;
  margin-right: auto;

  border-radius: 1px;

  margin-bottom: 90px;

}

.works .categories .category h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;

  text-align: center;

  color: #FFFFFF;
}

.works .categories .category.works-branding {
  background-image: url(../img/works-branding.jpg);
}

.works .categories .category.Works-graphic-design {
  background-image: url(../img/Works-graphic-design.jpg);
}

.works .categories .category.works-object-photography {
  background-image: url(../img/works-object-photography.jpg);
}

.works .categories .category.works-operative-polygraphy {
  background-image: url(../img/works-operative-polygraphy.jpg);
}

.works .categories .category.works-outdoor-advertising {
  background-image: url(../img/works-outdoor-advertising.jpg);
}

.works .categories .category.works-pofessional-printing {
  background-image: url(../img/works-pofessional-printing.jpg);
}

.works .categories .category.works-smm-marketing {
  background-image: url(../img/works-smm-marketing.jpg);
}

.works .sub_categories {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  grid-gap: 10px;
}

.works .sub_categories .sub_category h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #666666;
  margin-bottom: 30px;
  cursor: pointer;
  transition: all 300ms linear;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  -o-transition: all 300ms linear;
}

.works .sub_categories .sub_category h4::before {
  display: block;
  content: attr(data-text);
  font-weight: 600;
  font-size: 24px;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.works .sub_categories .sub_category h4:hover,
.works .sub_categories .sub_category h4.active {
  content: "";
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #0084A1;
}

.works_block {
  position: relative;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 5px;
  margin-bottom: 40px;
}

.works_block img {
  width: 100%;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.show_more {
  display: flex;
  justify-content: center;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  text-align: center;

  color: #5998BB;
}


.show_more svg {
  margin-left: 10px;
}
